* {
  margin: 0;
  border: border-box;
  font-family: "Times New Roman", Times, serif;
}

.navbar {
  height: 60px;

  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-logo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

/* Location box */

.navbar-address{
    padding: 10px;
    
}

.address-dlv {
  color: #cccccc;
  font-size: 0.8rem;

}

.address-country {
  font-size: 1rem;
  margin-left: 3.5px;
}

.add-icon {
  display: flex;
  align-items: center;
}

/* search bar box */

.navbar-search {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 680px;
  border-radius: 5px;
  background-color: aqua;
}

.navbar-search:hover{
    border: 2px solid orange;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  padding: 2px;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #f5b35c;
  color: #0f1111;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* country language box */

.navbar-language {
  width: 75px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.country-language-icon {
  background-image: url("country-flag.png");
  background-size: cover;
  height: 20px;
  width: 27px;
}
.language-name {
  font-size: 1rem;

  margin-left: 5px;
  margin-top: 5px;
}
.language-arrow-icon {
  margin: 6px 0px 0px 2px;
  font-size: 10px;
  color:#cccccc;
}

/* sign in box */

.navbar-signin,.navbar-return{
    padding: 10px;
}
.signin-s1{
    font-size: 0.8rem;
}
.signin-s2{
    font-size: 0.9rem;
    font-weight: 700;
}

/* cart box */

.navbar-cart i{
    font-size: 30px;
}

.navbar-cart{
    padding: 10px;
    font-size: 0.90rem;
    font-weight: 700;
}